<div class="pl-8 rounded-lg  max-w-3xl mx-auto pt-10">
    <div class="text-center mb-8">
        <h2 class="text-4xl font-bold text-gray-800 mb-2">Sobre nuestra empresa</h2>
        <p class="text-lg text-gray-600">Aprende sobre nuestra mision y historias que nos hacen.</p>
    </div>

    <div class="mb-8 ">
        <img src="https://img.properati.com/eyJidWNrZXQiOiJwcmQtbGlmdWxsY29ubmVjdC1iYWNrZW5kLWIyYi1pbWFnZXMiLCJrZXkiOiJwcm9wZXJ0aWVzLzU5YjM5MzUzLTFhZDUtNDcxYi1iMjI4LWM4YzBlMWExZDVjZi85YmVlODYzYS1lMTc2LTQwZTMtYjJlYy0zZDFkNTg3MDQ2MWIuanBnIiwiYnJhbmQiOiJQUk9QRVJBVEkiLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjMyMCwiaGVpZ2h0IjoyNDAsImZpdCI6ImNvdmVyIn19fQ==" alt="Featured Image" class="w-full h-64 object-cover rounded-lg shadow-md">
    </div>

    <div class="mb-6">
        <h3 class="text-2xl font-semibold text-gray-800 mb-2">Nuestra historias</h3>
        <p class="text-gray-700 mb-4">
        </p>
    </div>

    <div class="mb-6">
        <h3 class="text-2xl font-semibold text-gray-800 mb-2">Nuetras misión</h3>
        <p class="text-gray-700 mb-4 text-justify">
           Somos una nueva empresa en la hermosa ciudad de Cuenca, comprometida con mejorar la experiencia de estacionamiento en la ciudad. Ubicados en [calles genéricas de Cuenca], hemos surgido con la misión de ofrecer a nuestros clientes un servicio de parking moderno, seguro y cómodo, pensado para facilitar su movilidad y brindarles tranquilidad al momento de estacionar sus vehículos.
           Sabemos que encontrar un lugar confiable para estacionar puede ser complicado y muchas veces frustrante. Por eso, en [nombre de la empresa], nos hemos propuesto crear un espacio que no solo brinde seguridad y comodidad, sino que también esté a la altura de las necesidades actuales, integrando tecnología y sistemas de acceso que ahorran tiempo y hacen más sencilla la experiencia de parqueo.
           Apostamos por la innovación y el desarrollo urbano de Cuenca, ofreciendo una alternativa confiable, con atención al cliente personalizada y un compromiso firme con la satisfacción de nuestros usuarios. Como empresa nueva, estamos enfocados en crecer de la mano con nuestros clientes y aportar a la comunidad un servicio de calidad, pensado para que sus visitas a la ciudad sean lo más prácticas y eficientes posibles.
           <br>
           <span class="font-bold text-blue-900">
               ¡Visitanos y experimenta la diferencia en el servicio de estacionamiento en Cuenca!
           </span>
        </p>
    </div>
</div>
