<nav class=" w-64 h-screen p-4 border-r border-gray-300">
    <h1 class="text-black text-2xl font-bold mb-6">Admin Service</h1>
    <ul class="space-y-4">
        <li>
            <a 
                (click)="setActiveRoute('/services-admin')" 
                routerLink="/services-admin"
                [class.bg-blue-300]="activeRoute === '/services-admin'" 
                class="text-black font-semibold block p-3 rounded transition hover:bg-gray-300"
            >Listar Usarios</a>
        </li>
       
        <li>
            <a  
                routerLink="//services-admin/about-client"
                (click)="setActiveRoute('/services-admin/about-client')" 
                [class.bg-blue-300]="activeRoute === '/services-admin/about-client'" 
                class="text-black font-semibold block p-3 rounded transition hover:bg-gray-300"
            >Editar Usuarios</a>
        </li>
        <li>
            <a 
                routerLink="/services-client/reservation-history"
                (click)="setActiveRoute('/services-client/reservation-history')" 
                [class.bg-blue-300]="activeRoute === '/services-client/reservation-history'" 
                class="text-black font-semibold block p-3 rounded transition hover:bg-gray-300"
            >Dashboard</a>
        </li>
    </ul>
</nav>
