<nav class=" w-64 h-screen p-4 border-r border-gray-300">
    <h1 class="text-black text-2xl font-bold mb-6">Admin Service</h1>
    <ul class="space-y-4">
        <li>
            <a 
                (click)="setActiveRoute('/services-admin')" 
                routerLink="/services-admin"
                [class.bg-blue-300]="activeRoute === '/services-admin'" 
                class="text-black font-semibold block p-3 rounded transition hover:bg-gray-300"
            >Gestion de Espacios</a>
        </li>
       
        <li>
            <a  
                routerLink="/services-admin/about-client"
                (click)="setActiveRoute('/services-admin/about-client')" 
                [class.bg-blue-300]="activeRoute === '/services-admin/about-client'" 
                class="text-black font-semibold block p-3 rounded transition hover:bg-gray-300"
            >Gestion de Clientes</a>
        </li>
        <li>
            <a 
                routerLink="/services-admin/contract-management"
                (click)="setActiveRoute('/services-admin/contract-management')" 
                [class.bg-blue-300]="activeRoute === '/services-admin/contract-management'" 
                class="text-black font-semibold block p-3 rounded transition hover:bg-gray-300"
            >Contrado con Clientes</a>
        </li>
        <li>
            <a 
                routerLink="/services-admin/parking-schedules"
                (click)="setActiveRoute('/services-admin/parking-schedules')" 
                [class.bg-blue-300]="activeRoute === '/services-admin/parking-schedules'" 
                class="text-black font-semibold block p-3 rounded transition hover:bg-gray-300"
            >Horarios</a>
        </li>
        <li>
            <a 
                routerLink="/services-admin/parking-rates"
                (click)="setActiveRoute('/services-admin/parking-rates')" 
                [class.bg-blue-300]="activeRoute === '/services-admin/parking-rates'" 
                class="text-black font-semibold block p-3 rounded transition hover:bg-gray-300"
            >Tarifas</a>
        </li>
    </ul>
</nav>
