<div class="h-full w-auto ">
  <button
    (click)="toggleSidebar()"
    class="absolute top-1/2 transform -translate-y-1/2 text-white focus:outline-none py-8 px-2 rounded-r-full shadow- bg-blue-400 hover:bg-blue-300 z-20 transition-all duration-300 ease-in-out"
    [ngClass]="{
      'left-64': isSidebarVisible,
      'left-0': !isSidebarVisible
    }"
  >
    <i
      class="fa"
      [ngClass]="{
        'fa-chevron-left text-sm': isSidebarVisible,
        'fa-chevron-right text-sm': !isSidebarVisible
      }"
    ></i>
  </button>

  <div
    class="max-md:fixed max-md:inset-0 max-md:z-30 bg-black bg-opacity-50"
    *ngIf="isSidebarVisible"
    (click)="toggleSidebar()"
  ></div>

  <nav
    [ngClass]="{
      'translate-x-0': isSidebarVisible,
      '-translate-x-full': !isSidebarVisible
    }"
    class="top-0 left-0 w-64 min-h-screen h-full bg-white p-4 shadow-lg border-r  border-gray-200 transform transition-transform duration-300 ease-in-out max-md:fixed max-md:left-0 max-md:z-40"
  >
    <h3 class="text-gray-800 text font-bold mb-8 px-3 text-xl">Serivicios de Administrador</h3>
    <ul class="space-y-2">
      <li>
        <a
          routerLink="/services-admin"
          routerLinkActive="bg-blue-200 text-gray-900 shadow-md border-l-4  border-blue-600"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-3 rounded-lg transition-all hover:bg-blue-50"
        >
          <i class="fa fa-building text-gray-900 mr-3"></i>
          <span>Gestión de Espacios</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/services-admin/about-client"
          routerLinkActive="bg-blue-200 text-gray-900 shadow-md border-l-4 border-blue-600"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-3 rounded-lg transition-all hover:bg-blue-50"
        >
          <i class="fa fa-users text-gray-900 mr-3"></i>
          <span>Gestión de Clientes</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/services-admin/contract-management"
          routerLinkActive="bg-blue-200 text-gray-900 shadow-md border-l-4 border-blue-600"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-3 rounded-lg transition-all hover:bg-blue-50"
        >
          <i class="fa fa-file-contract text-gray-900 mr-3"></i>
          <span>Gestión de Contrato</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/services-admin/parking-schedules"
          routerLinkActive="bg-blue-200 text-gray-900 shadow-md border-l-4 border-blue-600"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-3 rounded-lg transition-all hover:bg-blue-50"
        >
          <i class="fa fa-clock text-gray-900 mr-3"></i>
          <span>Gestión de Horarios</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/services-admin/parking-rates"
          routerLinkActive="bg-blue-200 text-gray-900 shadow-md border-l-4 border-blue-600"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-3 rounded-lg transition-all hover:bg-blue-50"
        >
          <i class="fa fa-money-bill-wave text-gray-900 mr-3"></i>
          <span>Gestión de Tarifas</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/services-admin/all-contracts-tickets"
          routerLinkActive="bg-blue-200 text-gray-900 shadow-md border-l-4 border-blue-600"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-3 rounded-lg transition-all hover:bg-blue-50"
        >
          <i class="fa fa-th-list text-gray-900 mr-3"></i>
          <span>Gestión de Historial</span>
        </a>
      </li>
    </ul>
  </nav>
</div>