<div class="h-[75px]"></div>
<div class="container mx-auto my-4 p-4 max-w-2xl w-full h-auto overflow-y-auto shadow-sm">

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 p-4">
    <div class="p-4  shadow-md rounded-lg">
      <span class="font-semibold text-gray-700 text-lg">Nombre</span>
      <span class="text-gray-900 font-medium text-xl mt-1 block">Juan</span>
    </div>
    <div class="p-4  shadow-md rounded-lg">
      <span class="font-semibold text-gray-700 text-lg">Apellido</span>
      <span class="text-gray-900 font-medium text-xl mt-1 block">Pérez</span>
    </div>
    <div class="p-4  shadow-md rounded-lg">
      <span class="font-semibold text-gray-700 text-lg">Localización</span>
      <span class="text-gray-900 font-medium text-xl mt-1 block">Espacio A</span>
    </div>
    <div class="p-4  shadow-md rounded-lg">
      <span class="font-semibold text-gray-700 text-lg">Teléfono</span>
      <span class="text-gray-900 font-medium text-xl mt-1 block">+1 234 567 890</span>
    </div>
    <div class="p-4  shadow-md rounded-lg">
      <span class="font-semibold text-gray-700 text-lg">Fecha de inicio</span>
      <span class="text-gray-900 font-medium text-xl mt-1 block">01/01/2024</span>
    </div>
    <div class="p-4  shadow-md rounded-lg">
      <span class="font-semibold text-gray-700 text-lg">Fecha de fin</span>
      <span class="text-gray-900 font-medium text-xl mt-1 block">31/01/2024</span>
    </div>
    <div class="p-4  shadow-md rounded-lg">
      <span class="font-semibold text-gray-700 text-lg">Fecha de inicio</span>
      <span class="text-gray-900 font-medium text-xl mt-1 block">01/01/2024</span>
    </div>
    <div class="p-4  shadow-md rounded-lg">
      <span class="font-semibold text-gray-700 text-lg">Fecha de fin</span>
      <span class="text-gray-900 font-medium text-xl mt-1 block">31/01/2024</span>
    </div>
  </div>

  <div class="p-4  shadow-md rounded-lg mt-6">
    <div class="flex justify-between">
      <span class="font-semibold text-gray-700 text-lg">Total Pago Autorizado</span>
      <span class="text-gray-900 font-bold text-xl">$100.00</span>
    </div>
  </div>
</div>
