<div class="p-6 max-w-lg mx-auto space-y-4">
    <div class="space-y-2">
        <label for="selectRow" class="block text-lg font-medium text-gray-700">Seleccionar una FILA</label>
        <select
            (change)="selcetRowList()"
            id="selectRow"
            [(ngModel)]="selectRow"
            class="w-full px-4 py-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-700 transition ease-in-out duration-300"
        >
            <option value="" disabled selected>Seleccionar una FILA</option>
            <option *ngFor="let index of listRows" [value]="index">
                {{ fromCharCode(index) }}
            </option>
        </select>
    </div>
    

    <div class="space-y-2">
        <label for="selectSpace" class="block text-lg font-medium text-gray-700">Seleccionar un SPOT</label>
        <select
            id="selectSpace"
            [(ngModel)]="selectSpaceId"
            (change)="selectSpace()"
            class="w-full px-4 py-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-700 transition ease-in-out duration-300"
        >
            <option value="" disabled selected>Seleccionar un Slot</option>
            <option *ngFor="let spaceData of listRowPosibilies" [value]="spaceData.spaceFB.location">
                SPOT {{ spaceData.spaceFB.location}}
            </option>
        </select>
    </div>

    <div class="text-gray-700 flex justify-between items-center">
        <span class="block">SPOT:  </span>
        <span class="font-bold text-blue-500">{{ spaceDataSelect? spaceDataSelect.spaceFB.location :"" }}</span>
    </div>
    <div>
        <button
            (click)="onSendData()"
            class="w-full max-w-xs mx-auto flex items-center gap-2 px-6 py-3 bg-green-500 text-white font-medium rounded-lg hover:bg-green-600 transition duration-200"
        >
            Seleccionar
        </button>
    </div>
</div>
