<div class="overflow-x-auto w-full mb-6 flex flex-col shadow-lg">
  
    <table 
      class="min-w-full shadow-sm">
      <thead class="bg-gray-300 text-black">
        <tr>
          <th class="py-3 px-4 text-left font-semibold">Nombre</th>
          <th class="py-3 px-4 text-left font-semibold">Tarifa</th>
          <th class="py-3 px-4 text-left font-semibold">Tiempo</th>
          <th class="py-3 px-4 text-left font-semibold">Acciones</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rateData of listRate" class="even:bg-gray-100 hover:bg-blue-50 transition-colors duration-300">
          <td class="py-3 px-4">{{ rateData.rateFB.name}}</td>
          <td class="py-3 px-4">{{ rateData.rateFB.unitRate + " $"}}</td>
          <td class="py-3 px-4">{{   " " + rateData.rateFB.timeUnit }}</td>
          <td class="py-3 px-4 flex">
            <button 
              class="font-medium text-gray-500 dark:text-gray-800 hover:underline mr-8">
              Seleccionar
            </button>

            <button 
              class="font-medium text-gray-500 dark:text-gray-800 hover:underline">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
      
  </div>