<div class="rounded-lg p-6 w-full max-w-3xl">
  <form (submit)="onSubmit()" class="space-y-4">
  
    <div>
      <label for="rateName" class="block text-sm font-medium text-gray-700"
        >Codigo de la tarifa</label
      >
      <input
        id="timeUnit"
        type="text"
        [(ngModel)]="rateData.timeUnit"
        name="timeUnit"
        class="w-full mt-1 p-2 border border-gray-300 rounded focus:ring bg-gray-100"
        placeholder="Ejemplo: Tarifa por Minuto"
        readonly
      />
    </div>
    <div>
      <label for="rateName" class="block text-sm font-medium text-gray-700"
        >Nombre de la Tarifa</label
      >
      <input
        id="rateName"
        type="text"
        [(ngModel)]="rateData.name"
        name="rateName"
        class="w-full mt-1 p-2 border border-gray-300 rounded focus:ring focus:ring-indigo-300 focus:border-indigo-500"
        placeholder="Ejemplo: Tarifa por Minuto"
      />
    </div>

    <div class="">
      <label for="unitRate" class="block text-sm font-medium text-gray-700"
        >Tarifa por Unidad (USD)</label
      >
      <input
        id="prize"
        type="number"
        [(ngModel)]="rateData.prize"
        name="prize"
        class="w-full mt-1 p-2 border border-gray-300 rounded focus:ring focus:ring-indigo-300 focus:border-indigo-500"
        placeholder="Ejemplo: 0.50"
        step="0.01"
      />
    </div>

    <div class="flex justify-center mt-6">
      <button
        type="submit"
        class="flex items-center justify-center gap-2 p-4 bg-blue-500 text-white font-medium rounded-lg hover:bg-blue-600 mt-4 w-full"
      >
        <i class="fas fa-dollar-sign w-5 h-5"></i>
        Actualizar tarifa
      </button>
    </div>
  </form>
</div>
