<header class="bg-gray-900 text-white">
  <div class="container mx-auto flex justify-between items-center py-6">
    <a routerLink="/" class="px-4 text-2xl text-white font-extrabold font">
      AUTO
      <span class="text-black bg-white px-2 rounded-lg transform">SPOT</span>
    </a>

    <nav class="hidden md:flex space-x-6">
      <a routerLink="/" class="hover:text-gray-400 text-lg">
        <i class="fa fa-home"> Inicio</i></a
      >
      <a routerLink="/services-client" class="hover:text-gray-400 text-lg">
        <i class="fa fa-home"> Servicios</i></a
      >
      <a
        routerLink="/services-admin"
        *ngIf="isAdmin"
        class="hover:text-gray-400 text-lg"
      >
        <i class="fa fa-cogs"> Administrador</i></a
      >
      <a routerLink="contact-us" 
      class="hover:text-gray-400 text-lg">
        <i class="fa fa-globe"> Contactanos</i>
      </a>
    </nav>

    <div class="flex flex-row h-11 items-center justify-center gap-2">
      <a
        *ngIf="!isAuthenticated"
        routerLink="auth/sign-in"
        class="text-black bg-white font-semibold px-4 py-2 rounded hover:bg-yellow-500 hover:text-white text-lg"
      >
        <i class="fa fa-sign-in"></i> Inicio de Sesión
      </a>

      <div *ngIf="isAuthenticated" class="flex flex-col relative">
        <button
          (click)="toggleMenuAuth()"
          class="mb-2 py-2 px-4 text-white rounded hover:bg-yellow-500 flex items-center"
        >
          <i class="fa fa-user"> Tu</i>
        </button>

        <div
          *ngIf="isMenuOpenAuth"
          class="absolute top-full mt-1 border bg-gray-900 shadow-lg rounded-lg p-4 z-10 w-48 right-0"
        >
          <a
            routerLink="/profile"
            class="mb-2 py-2 px-4 text-white hover:bg-yellow-500 rounded w-full flex gap-2 items-center"
          >
            <i class="fa fa-user-circle"></i>
            <h3>Perfil</h3>
          </a>
          <button
            (click)="logOut()"
            class="mb-2 py-2 px-4 text-white hover:bg-yellow-500 rounded w-full flex gap-2 items-center"
          >
            <i class="fa fa-sign-out"></i>
            <h3>Cerrar Sesion</h3>
          </button>
        </div>
      </div>

      <div class="hidden max-md:flex flex-col relative">
        <button
          (click)="toggleMenu()"
          class="mb-2 py-2 px-4 hover:bg-yellow-500 rounded-full hover:text-black right-0"
        >
          <i class="fa fa-bars"></i>
        </button>
        <div
          *ngIf="isMenuOpen"
          class="absolute top-full mt-1 border bg-gray-900 shadow-lg rounded-lg p-4 z-10 right-1 w-40"
        >
          <a routerLink="/" class="block hover:text-gray-400">
            <i class="fa fa-home"></i> Inicio
          </a>
          <a routerLink="/services-client" class="block hover:text-gray-400">
            <i class="fa fa-concierge-bell"></i> Servicios
          </a> 
          <a routerLink="/services-admin" *ngIf="isAdmin" class="block hover:text-gray-400">
            <i class="fa fa-cogs"></i> Administrador
          </a>
          <a routerLink="contact-us" class="block hover:text-gray-400">
            <i class="fa fa-globe"></i> Contactanos
          </a>
        </div>
      </div>
      
    </div>
  </div>
</header>
