<div class="overflow-x-auto flex flex-col p-6 lg:p-10 space-y-8">
  <app-header-service
    titlePage="Gestión de Espacios"
    description="Administra la disponibilidad de los espacios y selecciona el que deseas gestionar desde el mapa."
  >
  </app-header-service>

  <div class="flex flex-col lg:flex-row gap-8 lg:gap-6">
    <div class="flex-1 flex flex-col bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-xl lg:text-2xl font-semibold mb-4 text-center">
        Información Sobre el Estado Actual Del Espacio
      </h2>
      <app-edit-spot
        (eventReloadMatriz)="reloadParkingLot()"
        [spaceData]="spaceData!"
      >
      </app-edit-spot>
    </div>

    <div class="flex-1 flex flex-col bg-white p-6 rounded-lg shadow-md">
      <div class="flex flex-col">
        <h2 class="text-xl lg:text-2xl font-semibold mb-4 text-center">
            Opciones
        </h2>

        <div class="flex flex-row w-full gap-2">
            <button
            class="flex items-center justify-center gap-2 py-4 bg-blue-500 text-white font-medium rounded-lg hover:bg-blue-600 mt-2 w-full"
            (click)="addSpot()"
          >
           
            Agregar
          </button>
          <button
            class="flex items-center justify-center gap-2 py-4 bg-green-500 text-white font-medium rounded-lg hover:bg-green-600 mt-2 w-full"
            (click)="onDisable()"
          >
            Habilitar
          </button>
          <button
            class="flex items-center justify-center gap-2 py-4 bg-red-500 text-white font-medium rounded-lg hover:bg-red-600 mt-2 w-full"
            (click)="onEnable()"
          >
            Desabilitar
          </button>
          
      </div>

      <h2 class="text-xl lg:text-2xl font-semibold mb-4 text-center mt-4">
        Mapa del Parqueadero
      </h2>
      <app-matrix-spaces #parkingLot (eventEmitrSpace)="editSpot($event)">
      </app-matrix-spaces>
    </div>
  </div>
</div>
