<footer id="footer" class="bg-gray-900 text-white py-8">
  <div class="container mx-auto text-center">

    <div class="flex flex-row gap-52  justify-center">
      <div>
        <h2 class="text-lg font-bold mb-4">Sobre Paul</h2>
        <ul class="space-y-2">
          <li>
            <a href="https://www.linkedin.com/in/paul-naspu-624658168/" class="flex justify-center items-center space-x-2 hover:text-gray-300">
              <i class="fab fa-linkedin"></i>
              <span>LinkedIn</span>
            </a>
          </li>
          <li>
            <a href="" class="flex justify-center items-center space-x-2 hover:text-gray-300">
              <i class="fab fa-instagram"></i>
              <span>Instagram</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/PaulSebastian9720" class="flex justify-center items-center space-x-2 hover:text-gray-300">
              <i class="fab fa-github"></i>
            <span>Github</span>
          </a>
        </li>
      </ul>
    </div>


    <div>
      <h2 class="text-lg font-bold mb-4">Sobre Karen</h2>
      <ul class="space-y-2">
        <li>
          <a href="" class="flex justify-center items-center space-x-2 hover:text-gray-300">
            <i class="fab fa-linkedin"></i>
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="" class="flex justify-center items-center space-x-2 hover:text-gray-300">
            <i class="fab fa-instagram"></i>
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a href="" class="flex justify-center items-center space-x-2 hover:text-gray-300">
            <i class="fab fa-facebook"></i>
            <span>Facebook</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

    
  <div class="mt-8 border-t border-gray-600 pt-4">
    <h2 class="text-lg font-bold mb-4">Sobre el Proyecto</h2>
    <ul class="flex justify-center space-x-4">
      <li>
        <a href="" class="flex items-center space-x-2 hover:text-gray-300">
          <i class="fab fa-github"></i>
          <span>Repositorio en GitHub</span>
        </a>
      </li>
      <li>
        <a href="" class="flex items-center space-x-2 hover:text-gray-300">
          <i class="fas fa-file-alt"></i>
          <span>Documentación</span>
        </a>
      </li>
      <li>
        <a href="" class="flex items-center space-x-2 hover:text-gray-300">
          <i class="fas fa-info-circle"></i>
            <span>Soporte</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
