<div class="flex flex-col items-center justify-center bg-gradient-to-r from-blue-400 to-green-400 px-6 py-14 rounded-lg shadow-lg text-center min-h-[475px] sm:min-h-[500px] md:min-h-[450px]">
  <h2 class="text-white font-bold text-xl uppercase mb-2">
    ¡Reserva tu lugar de estacionamiento fácil y rápido!
  </h2>
  <h1 class="text-black font-extrabold text-3xl mb-4">
    ENCUENTRA TU <span class="text-yellow-400">LUGAR IDEAL</span>
  </h1>

  <a href="services-client/reservation-history" class="bg-yellow-400 text-black font-semibold py-2 px-4 rounded-full mb-6 shadow-lg hover:bg-yellow-500 transition">
    RESERVA TU LUGAR AHORA
  </a>

  <div class="relative flex flex-wrap justify-center space-x-3 space-y-3 md:space-y-0">
    
    <div class="bg-blue-500 p-4 rounded-lg shadow-lg text-white text-center transform -rotate-6 md:-rotate-3">
      <p class="text-sm font-bold">LUGAR VIP</p>
      <p class="text-4xl font-extrabold">Cercano a la Entrada</p>
      <p class="text-lg mt-2">Coste adicional</p>
    </div>
    
    <div class="bg-blue-400 p-4 rounded-lg shadow-lg text-white text-center transform -rotate-3 md:-rotate-0">
      <p class="text-sm font-bold">LUGAR TECHADO</p>
      <p class="text-4xl font-extrabold">Protege tu Auto</p>
      <p class="text-lg mt-2">Costo Moderado</p>
    </div>
    
    <div class="bg-blue-300 p-4 rounded-lg shadow-lg text-white text-center transform md:-rotate-6">
      <p class="text-sm font-bold">LUGAR ESTÁNDAR</p>
      <p class="text-4xl font-extrabold">Económico</p>
      <p class="text-lg mt-2">Ubicación General</p>
    </div>
  </div>
</div>
