<div class="overflow-x-auto flex flex-col p-4 sm:p-6 md:p-10">
  <div>
    <h3 class="font-bold text-2xl mb-2">Listado de Usuarios</h3>

    <div
      class="flex flex-col sm:flex-row sm:items-center justify-between w-full mb-4 space-y-4 sm:space-y-0"
    >
      <div
        class="flex flex-row items-center space-y-2 sm:space-y-0 sm:space-x-2"
      >
        <button
          class="flex justify-center items-center gap-1 w-auto px-4 py-2 border text-gray-700 border-gray-700 hover:bg-gray-700 hover:text-white rounded-md font-semibold"
        >
          <i class="fa fa-user-plus"></i>
          Agregar
        </button>

        <select
          class="flex justify-center items-center gap-1 w-auto px-4 py-2 border text-gray-700 border-gray-700 hover:bg-gray-700 hover:text-white rounded-md font-semibold appearance-none"
          [(ngModel)]="selectWorld"
          (change)="filterListPerWorld()"
        >
          <option value="" disabled selected>Filtros</option>
          <option value="SF">Sin Filtros</option>
          <option value="ADM">Administrador</option>
          <option value="CLI">Cliente</option>
          <option value="ACT">Activo</option>
          <option value="DES">Inactico</option>
        </select>

        <div
          class="flex items-center border border-gray-300 rounded-md focus-within:border-gray-700"
        >
          <i class="fa fa-search text-gray-500 px-3"></i>
          <input
            type="text"
            placeholder="Buscar persona..."
            class="w-full px-4 py-2 focus:outline-none"
            [(ngModel)]="wordFilter"
            (ngModelChange)="filterListPerWorld()"
          />
        </div>
      </div>
    </div>

    <div
      class="mat-elevation-z8 overflow-x-auto w-full mb-6 shadow-lg rounded-sm"
    >
      <table class="min-w-full table-auto sm:text-sm">
        <thead class="bg-gray-900 text-white">
          <tr>
            <th
              class="py-2 px-2 sm:py-3 sm:px-4 text-left"
              style="width: 150px"
            >
              Nombre
            </th>
            <th
              class="py-2 px-2 sm:py-3 sm:px-4 text-left"
              style="width: 150px"
            >
              Apellido
            </th>
            <th
              class="py-2 px-2 sm:py-3 sm:px-4 text-left"
              style="width: 100px"
            >
              Estado
            </th>
            <th
              class="py-2 px-2 sm:py-3 sm:px-4 text-left"
              style="width: 100px"
            >
              Documento ID
            </th>
            <th
              class="py-2 px-2 sm:py-3 sm:px-4 text-left"
              style="width: 200px"
            >
              Correo Electrónico
            </th>
            <th
              class="py-2 px-2 sm:py-3 sm:px-4 text-left"
              style="width: 100px"
            >
              Rol
            </th>
            <th
              class="py-2 px-2 sm:py-3 sm:px-4 text-left"
              style="width: 200px"
            >
              Dirección
            </th>
            <th
              class="py-2 px-2 sm:py-3 sm:px-4 text-left"
              style="width: 150px"
            >
              Teléfono
            </th>
            <th
              class="py-2 px-2 sm:py-3 sm:px-4 text-center"
              style="width: 150px"
            >
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of filteredUsers"
            class="even:bg-gray-100 hover:bg-blue-50 transition-colors duration-300"
          >
            <td class="py-2 px-2 sm:py-3 sm:px-4">{{ user.name }}</td>
            <td class="py-2 px-2 sm:py-3 sm:px-4">
              {{ user.lastName }}
            </td>
            <td class="py-2 px-2 sm:py-3 sm:px-4">
              <span
                class="px-3 py-1 rounded-full text-xs font-semibold text-white"
                [ngClass]="{
                  'bg-green-500': user.status === 'A',
                  'bg-red-500': user.status === 'I'
                }"
              >
                {{ user.status === "A" ? "ACT" : "INA" }}
              </span>
            </td>
            <td class="py-2 px-2 sm:py-3 sm:px-4">
              {{ user.documentID }}
            </td>
            <td class="py-2 px-2 sm:py-3 sm:px-4">
              {{ user.mail }}
            </td>
            <td class="py-2 px-2 sm:py-3 sm:px-4">{{ user.role }}</td>
            <td class="py-2 px-2 sm:py-3 sm:px-4">{{ user.location }}</td>
            <td class="py-2 px-2 sm:py-3 sm:px-4">{{ user.phone }}</td>
            <td
              class="py-2 px-2 sm:py-3 sm:px-4 text-center flex flex-col sm:flex-row justify-center sm:gap-1"
            >
              <button
                (click)="onClick(user)"
                class="h-8 w-10 rounded-md bg-blue-500 hover:bg-blue-600 text-white"
              >
                <i class="fas fa-user-check"></i>
              </button>
              <button
                (click)="toggleSidebar(user)"
                class="h-8 w-10 rounded-md bg-green-500 hover:bg-green-600 text-white"
              >
                <i class="fas fa-user-edit"></i>
              </button>
              <button
                (click)="btnchangeState(user)"
                class="h-8 w-10 rounded-md bg-red-500 hover:bg-red-600 text-white"
              >
                <i class="fas fa-user-lock"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="flex items-center justify-center py-4 space-x-2 bg-gray-200">
        <ng-container *ngFor="let page of pages">
          <button
            class="px-3 py-1 rounded"
            [ngClass]="{
              'bg-gray-900   text-white': page === currentPage,
              'bg-white hover:bg-gray-300': page !== currentPage
            }"
            (click)="goToPage(page)"
          >
            {{ page }}
          </button>
        </ng-container>

        <select
          class="px-3 py-1 border border-gray-300 rounded"
          [(ngModel)]="itemsPerPage"
          (change)="updateItemsPerPage()"
        >
          <option *ngFor="let option of itemsPerPageOptions" [value]="option">
            {{ option }}
          </option>
        </select>
        <button
          class="px-3 py-1 bg-white rounded hover:bg-gray-300"
          (click)="previousPage()"
          [disabled]="currentPage === 1"
        >
          &#10094;
        </button>
        <span class="px-4 py-1">{{ currentPage }} / {{ totalPages }}</span>
        <button
          class="px-3 py-1 bg-white rounded hover:bg-gray-300"
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
        >
          &#10095;
        </button>
      </div>
    </div>

    <div *ngIf="user" class="w-full">
      <h3 class="font-bold text-xl sm:text-2xl mb-2">
        Listado de los Automobiles del Cliente
      </h3>
      <app-list-automobile
        [isLoading]="isLoadingTAuto"
        [listAutomobile]="automobiles"
      >
      </app-list-automobile>

      <h3 class="font-bold text-xl sm:text-2xl mb-2">
        Listado de Contratos del Cliente
      </h3>
      <app-table-contract [user]="user"></app-table-contract>
    </div>
  </div>
  <div
    class="fixed inset-0 z-20 bg-black bg-opacity-50"
    *ngIf="isOpen"
    (click)="toggleSidebar(null)"
  ></div>
</div>

<div
  *ngIf="isOpen"
  class="w-[500px] min-h-screen h-full bg-white p-6 shadow-lg border-r border-gray-200 transition-all duration-300 ease-in-out absolute right-0 top-0 max-md:left-0 z-40"
  [ngClass]="{
    'translate-x-0': isOpen,
    'translate-x-full': !isOpen
  }"
>
  <div class="fixed top-5 left-5 right-5 flex justify-between items-center">
    <div class="flex space-x-4 px-4">
      <span class="px-4 py-1 bg-gray-200 rounded-lg shadow">
        {{ this.user?.role === "A" ? "Administrador" : "Cliente" }}
      </span>

      <span class="px-4 py-1 bg-blue-200 rounded-lg shadow">
        {{ this.user?.status === "A" ? "Activo" : "Inactivo" }}
      </span>
    </div>

    <div class="flex space-x-4">
      <button
        (click)="toggleEdit()"
        class="px-6 py-2 sm:px-10 font-semibold rounded-s text-white"
        [ngClass]="{
          ' bg-gray-900 hover:bg-gray-700': !isEditing,
          ' bg-red-500 hover:bg-red-600': isEditing
        }"
      >
        {{ isEditing ? "Cancelar" : "Editar" }}
      </button>
      <button
        (click)="toggleIsEditing()"
        class="text-gray-700 text-xl px-2 py-1 shadow-lg bg-white hover:bg-red-400 hover:text-white rounded-lg"
      >
        <i
          class="fa"
          [ngClass]="{ 'fa-times': isOpen, 'fa-bars': !isOpen }"
        ></i>
      </button>
    </div>
  </div>

  <app-update-form-user
    [user]="user!"
    (sendUser)="receiveData($event)"
    [isEditing]="isEditing"
  ></app-update-form-user>
</div>
