<div class="flex justify-center items-center py-8">
  <div class="max-w-4xl w-full px-4">
    <div class="flex justify-between space-x-8 mb-8">
      <div class="flex-1">
        <h2 class="text-lg font-bold mb-4 text-center">Sobre Paul</h2>

        <ul class="space-y-2">
          <li>
            <a
              href=""
              class="flex justify-center items-center space-x-2 hover:text-gray-300"
            >
              <i class="fab fa-linkedin"></i>
              <span>LinkedIn</span>
            </a>
          </li>
          <li>
            <a
              href=""
              class="flex justify-center items-center space-x-2 hover:text-gray-300"
            >
              <i class="fab fa-github"></i>
              <span>Github</span>
            </a>  
          </li>
          <li>
            <a href=""
                class="flex justify-center items-center space-x-2 hover:text-gray-300"
            >
                <i class="fa-regular fa-envelope"></i>
                <span>Envianos un correo</span>
              </a>
          </li>
        </ul>
        
      </div>

      <div class="flex-1">
        <h2 class="text-lg font-bold mb-4 text-center">Sobre Karen</h2>
        <ul class="space-y-2">
          <li>
            <a
              href=""
              class="flex justify-center items-center space-x-2 hover:text-gray-300"
            >
              <i class="fab fa-linkedin"></i>
              <span>LinkedIn</span>
            </a>
          </li>
          <li>
            <a
              href=""
              class="flex justify-center items-center space-x-2 hover:text-gray-300"
            >
              <i class="fab fa-github"></i>
              <span>Github</span>
            </a>
          </li>
          <li>
            <a href=""
                class="flex justify-center items-center space-x-2 hover:text-gray-300"
            >
                <i class="fa-regular fa-envelope"></i>
                <span>Envianos un correo</span>
              </a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <h2 class="text-lg font-bold mb-4 text-center">Sobre el Proyecto</h2>
      <ul class="flex justify-center space-x-4">
        <li>
          <a href="" class="flex items-center space-x-2 hover:text-gray-300">
            <i class="fab fa-github"></i>
            <span>Repositorio en GitHub</span>
          </a>
        </li>
        <li>
          <a href="" class="flex items-center space-x-2 hover:text-gray-300">
            <i class="fa fa-globe"></i>
            <span>Documentación</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
