<div class="flex flex-col lg:flex-row gap-8 p-10 mb-7">
  <div class="flex-1 flex flex-col gap-6">
    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-lg font-semibold mb-2">Selecciona un Cliente</h2>
      <div class="flex w-full gap-2 mb-2">
        <app-select-user
          #selectUser
          class="flex-grow"
          (userEventEmitter)="onClickUser($event)"
        ></app-select-user>
      </div>
      <h2 class="text-lg font-semibold mb-2">
        Seleccione un Automóvil (Opcional)
      </h2>
      <!-- <h2
          *ngIf="userFb" 
          class="text-lg font-semibold mb-2">
          {{userFb ? "Seleccione un Automóvil (Opcional)" : "Seleccione un Cliente para seleccionar un Automóvil"}}
        </h2> -->
      <div class="flex w-full gap-2 mb-2">
        <button
          class="flex items-center gap-2 px-4 py-2 bg-blue-500 text-white font-medium rounded-lg hover:bg-blue-600"
          (click)="onAddAutomovile()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 13l4 4L19 7"
            />
          </svg>
          Registrar
        </button>
        <app-select-automobile
          #selectAutomobile
          class="flex-grow"
          (eventAutomobile)="onClinkAutomobile($event)"
          [listAutomobile]="[]"
        >
        </app-select-automobile>
        <!-- <app-select-automobile
            #selectAutomobile
            class="flex-grow"
            (eventAutomobile)="onClinkAutomobile($event)"
            [listAutomobile]="userFb!.user.listAutomobile ? userFb!.user.listAutomobile : []">
          </app-select-automobile> -->
      </div>

      <h2 class="text-lg font-semibold mb-2">Selecciona un tarifa</h2>
      <div class="flex w-full gap-2">
        <button
          class="flex items-center gap-2 px-4 py-2 bg-blue-500 text-white font-medium rounded-lg hover:bg-blue-600"
          (click)="onAddRate()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 13l4 4L19 7"
            />
          </svg>
          Registrar
        </button>
        <app-select-rate
          #selecttarifa
          class="flex-grow"
          (eventRate)="onClickRate($event)"
        ></app-select-rate>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="font-semibold text-2xl mb-2 text-center">
        Mapa de el Parqueadero
      </h2>
      <app-matrix-spaces #mapaSpaces (eventEmitrSpace)="onClinkSpace($event)">
      </app-matrix-spaces>
    </div>
  </div>

  <div class="flex-1 bg-white  rounded-lg shadow-md p-6">
    <div class="w-full flex gap-2 mb-4 bg-slate-200">
      <button
        class="flex-1 py-2 px-4 text-lg font-semibold rounded-lg focus:outline-none"
        [ngClass]="{
          'bg-blue-500 text-white': isSelected1,
          'bg-transparent text-gray-700': !isSelected1
        }"
        (click)="selectOption(1)"
      >
        Contrato
      </button>
      <button
        class="flex-1 py-1 px-4 text-lg font-semibold rounded-lg focus:outline-none"
        [ngClass]="{
          'bg-blue-500 text-white': isSelected2,
          'bg-transparent text-gray-700': !isSelected2
        }"
        (click)="selectOption(2)"
      >
        Rentado
      </button>
    </div>

    <h2 class="font-semibold text-2xl mb-2 text-center">
      Información del Espacio
    </h2>
    <app-create-contract
      *ngIf="isSelected1"
      [automobile]="automobile"
      [userData]="userFb"
      [spaceData]="spaceFB"
      [rateData]="rateFb"
      (updateMapEvent)="updateMap()"
    ></app-create-contract>
    <app-create-rented
      *ngIf="isSelected2"
      [automobile]="automobile"
      [userData]="userFb"
      [spaceData]="spaceFB"
      [rateData]="rateFb"
      (updateMapEvent)="updateMap()"
    ></app-create-rented>
  </div>
</div>
