<div class="flex flex-col gap-4 p-10 mb-7">
  <div class="bg-white px-6 py-4 rounded-lg shadow-lg">
    <h2 class="text-lg font-semibold mb-2">Selecciona un Cliente</h2>
    <div class="flex w-full gap-2 mb-2">
      <app-select-user
        class="flex-grow"
        (userEventEmitter)="onClickUser($event)"
      ></app-select-user>
    </div>
  </div>
  <div class="bg-white px-6 py-4 rounded-lg shadow-lg">
    <h2 class="text-lg font-semibold mb-2">Seleccione un Automóvil</h2>
    <app-select-automobile
      [userSelect]="userSelect"
      (eventAutomobile)="onClinkAutomobile($event)"
    ></app-select-automobile>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="bg-white px-6 py-4 rounded-lg shadow-lg">
      <div class="flex mb-2">
        <button
          (click)="onChangeType('/contract')"
          [ngClass]="{
            'bg-gray-300 text-white': page === '/contract',
            'bg-white': page !== '/contract'
          }"
          class="px-2 py-1 w-24 rounded-l-lg border border-gray-300"
        >
          Contrato
        </button>

        <button
          (click)="onChangeType('/ticket')"
          [ngClass]="{
            'bg-gray-300 text-white': page === '/ticket',
            'bg-white': page !== '/ticket'
          }"
          class="px-2 py-1 w-24 rounded-r-lg border border-gray-300"
        >
          Ticket
        </button>
      </div>
      <h2 class="text-lg font-semibold mb-2">Selecciona una tarifa</h2>
      <app-select-rate (eventRate)="onClickRate($event)"></app-select-rate>
    </div>

    <div
      class="bg-white px-6 py-4 rounded-lg shadow-lg w-full flex flex-col items-center text-center"
    >
      <h2 class="text-lg font-semibold mb-2">Mapa del Parqueadero</h2>
      <app-matrix-spaces #mapaSpaces></app-matrix-spaces>
    </div>
  </div>
</div>
