<div class="h-screen bg-gradient-to-br from-gray-800 to-gray-900 flex  justify-center items-center p-12 max-md:flex-col max-md:h-full ">

    <div class=" w-full max-w-lg flex flex-col justify-center items-center text-white p-6 space-y-6 md:mr-6">
      <h2 class="text-3xl md:text-4xl font-bold text-yellow-500 text-center">Únete a Nuestra Comunidad</h2>
      
      <p class="text-center text-lg">
        <span class="text-yellow-500 font-semibold">Crea una cuenta</span> para acceder a nuestros servicios y beneficios exclusivos. Personaliza tu experiencia, recibe notificaciones y mucho más.
      </p>
  
      <img src="../../../../assets/auto-spot-logo.png" alt="Ilustración decorativa" class="h-52 ">
      
      <p class="text-center text-lg">
        ¿Por qué registrarte? Porque <span class="text-yellow-300 font-semibold">nos importas</span> y queremos ofrecerte lo mejor.
      </p>
    
      <div class="flex flex-col items-start space-y-2 text-left">
        <div class="flex items-center space-x-2">
          <span class="text-yellow-500 font-bold text-2xl">✓</span>
          <p>Acceso a promociones exclusivas</p>
        </div>
        <div class="flex items-center space-x-2">
          <span class="text-yellow-500 font-bold text-2xl">✓</span>
          <p>Personalización de preferencias</p>
        </div>
        <div class="flex items-center space-x-2">
          <span class="text-yellow-500 font-bold text-2xl">✓</span>
          <p>Soporte prioritario</p>
        </div>
      </div>
    </div>
  
    <form (ngSubmit)="onSubmit()"  [formGroup]="registerForm" class="w-full max-w-xl bg-white rounded-lg shadow-md p-8 mt-8 md:mt-0">
      <h3 class="text-2xl font-bold text-center text-gray-700">Formulario de Registro</h3>
      <h6 class="text-center text-gray-500">Crea una cuenta rapido</h6>
      
      <div class="space-y-4 mt-8">
        <div class="mb-4">
          <input 
            id="name"
            type="text " 
            formControlName="name" 
            class="w-full mt-1 p-2 border border-gray-300 rounded focus:ring focus:ring-indigo-300 focus:border-indigo-500" 
            placeholder="Tu nombre"
          />
          <small *ngIf="isRequired('name')" class="text-red-500">Este campo es requerido </small>
          <small *ngIf="isShortParameter('name')" class="text-red-500">Se nescesita por lo menos 3 caracteres</small>
        </div>
        
        <div class="mb-4">
          <input 
            id="last_name"
            type="text" 
            formControlName="last_name" 
            class="w-full mt-1 p-2 border border-gray-300 rounded focus:ring focus:ring-indigo-300 focus:border-indigo-500" 
            placeholder="Tu apellido"
          >
          <small *ngIf="isRequired('last_name')" class="text-red-500">Este campo es requerido </small>
          <small *ngIf="isShortParameter('last_name')" class="text-red-500">Se nescesita por lo menos 3 caracteres</small>
  
        </div>
        
        <div class="mb-4">
          <input 
            id="correo"
            type="email" 
            formControlName="correo" 
            class="w-full mt-1 p-2 border border-gray-300 rounded focus:ring focus:ring-indigo-300 focus:border-indigo-500" 
            placeholder="tucorreo@ejemplo.com"
          >
          <small *ngIf="isEmailRequired()" class="text-red-500">Ingresa un correo valido</small>
  
        </div>
        
        <div class="mb-4">
          <input 
            id="password" 
            type="password" 
            formControlName="password" 
            class="w-full mt-1 p-2 border border-gray-300 rounded focus:ring focus:ring-indigo-300 focus:border-indigo-500" 
            placeholder="Contraseña"
          >
          <small *ngIf="isRequired('password')" class="text-red-500">Este campo es requerido </small>
          <small *ngIf="isShortParameter('password', 6)" class="text-red-500">Se nescesita por lo menos 6 caracteres</small>
  
        </div>
      
        <div class="mb-4">
          <input 
            id="confirmPassword" 
            type="password" 
            formControlName="confirmPassword" class="w-full mt-1 p-2 border border-gray-300 rounded focus:ring focus:ring-indigo-300 focus:border-indigo-500" 
            placeholder="Confirma tu contraseña"
            >
            <small *ngIf="isRequired('confirmPassword')" class="text-red-500">Este campo es requerido </small>
            <small *ngIf="isNotSamePassword()" class="text-red-500">Las contraseñas no coinciden</small>
        </div>
        
        <div class="mb-4">
          <label for="birthday" class="block text-gray-500 font-semibold mb-2">Fecha de nacimiento</label>
          <input 
            id="birthday" 
            type="date" 
            formControlName="birthday" 
            class="w-full mt-1 p-2 border border-gray-300 rounded focus:ring focus:ring-indigo-300 focus:border-indigo-500"
          >
        </div>
      </div>
    
      <button 
        type="submit" 
        class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-4 rounded-lg my-2" 
        [disabled]="registerForm.invalid">
        Registrarse
      </button>
      <app-button-w-google (onClickEvent)="onSubmitWithGoogle()"></app-button-w-google>
    </form>
</div>