<div class="flex flex-col items-center justify-center  px-6 py-14 text-center h-[475px]" 
    style="background-image: 
    url('https://img.freepik.com/vector-premium/icono-hashtag-vector-moda-patron-repetitivo-fondo-ilustracion-color-marron_90697-2759.jpg?w=740'); 
    background-size: cover; background-position: center right;">
    <h2 class="text-white font-bold text-xl uppercase tracking-wider mb-2">
        ¡Tu opinión es valiosa!
    </h2>
    <h1 class="text-white font-extrabold md:text-3xl sm:text-2xl  mb-4">
        VALORA NUESTRA ATENCIÓN
    </h1>

    <p class="text-white text-lg mb-4">
        Agradecemos que compartas tu experiencia. Cada comentario nos ayuda a mejorar.
    </p>

    <a href="#form-comment" class="bg-yellow-400 text-black font-semibold py-2 px-4 rounded-full mb-6 shadow-lg hover:bg-yellow-500 transition inline-block">
        DEJA TU COMENTARIO
    </a>
    
    <div class="flex flex-wrap justify-center gap-4 mt-4">
        <div class="bg-yellow-500 p-6 rounded-lg shadow-lg text-white text-center transform -rotate-6 sm:-rotate-3">
            <p class="text-sm font-bold">COMENTARIOS DE CLIENTES</p>
            <p class="md:text-4xl sm:text-2xl  font-extrabold">Lo que dicen de nosotros</p>
        </div>

        <div class="bg-gray-800 p-6 rounded-lg shadow-lg text-white text-center transform -rotate-2 sm:-rotate-0">
            <p class="text-sm font-bold">TESTIMONIOS</p>
            <p class="md:text-4xl sm:text-2xl  font-extrabold">Historias que inspiran</p>
        </div>
    </div>
</div>
