<div
  *ngIf="visible"
  class="notification-container fixed top-5 right-5 bg-white rounded-xl shadow-md flex items-center border max-w-full w-auto h-auto min-h-20 transition-all duration-300"
  [ngClass]="{
    'border-l-4 border-green-500': type === 'success',
    'border-l-4 border-red-500': type === 'error',
    'border-l-4 border-blue-500': type === 'info',
    'border-l-4 border-yellow-500': type === 'warning'
  }"
>
  <div
    class="flex justify-center items-center w-16 min-h-20 h-full"
    [ngClass]="{
      'bg-green-500 ': type === 'success',
      'bg-red-500 ': type === 'error',
      'bg-blue-500 ': type === 'info',
      'bg-yellow-500 ': type === 'warning'
    }"
  >
    <i *ngIf="type === 'success'" class="text-white text-2xl fa fa-check-circle"></i>
    <i *ngIf="type === 'error'" class="text-white text-2xl fa fa-times-circle"></i>
    <i *ngIf="type === 'info'" class="text-white text-2xl fa fa-info-circle"></i>
    <i *ngIf="type === 'warning'" class="text-white text-2xl fa fa-exclamation-circle"></i>
  </div>

  <div class="ml-1 flex flex-col justify-center p-4 w-full">
    <!-- <span class="font-semibold text-base text-gray-800">
      {{ getMessage() }}
    </span> -->
    <span class="text-sm text-gray-600 mt-1">{{ message }}</span>
  </div>
</div>
