<div class="overflow-x-auto flex flex-col p-6 lg:p-10 space-y-8 mb-7">
  
    <app-header-service
      titlePage="Edita Horarios y Tarifas de Trabajo"
      description="Configura tus horarios de trabajo para días específicos o para rangos de días como lunes a viernes.">
    </app-header-service>
  
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 p-4">

      <div class="p-6 shadow-md rounded-lg bg-white ">
        <h2 class="text-xl lg:text-2xl font-semibold mb-4 text-center ">
          Establece un Horario de Trabajo
      </h2>        
      <div class="mt-4">
          <app-edit-schedules
            (eventUpdateSchedule)="updateSchedule()">
          </app-edit-schedules>
        </div>
      </div>
  
      <div class="p-6 shadow-md rounded-lg bg-white ">
        <h2 class="text-xl lg:text-2xl font-semibold mb-4 text-center ">
          Mira los horarios actuales
      </h2>        
      <div class="mt-4">
          <app-list-workday
            #schedule>
          </app-list-workday>
        </div>
      </div>
  
    </div>
  </div>
  